.dynamic{
    padding: 30px;
    .content{
        width: 100%;
        resize: none;
        line-height: 45px;
        font-size: 32px;
        border: none;
        outline: none;
        padding: 30px 0;
    }
    .dynamic-imgs{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .dynamic-img{
            width: 200px;
            height: 200px;
            object-fit:cover;
            margin: 15px;
        }
        .add-dynamic-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 196px;
            height: 196px;
            border: 1px solid #cccccc;
            font-size: 100px;
            font-weight: bold;
            color: #ccc;
            margin: 15px;
        }
    }
    .sub-dynamic-btn{
        margin: 30px auto;
        padding: 20px 0;
        font-size: 34px;
    }
}