.comments-list{
    .comment-item{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 20px;
        .comment-head{
            padding: 0 20px;
            img{
                width: 80px;
                height: 80px;
                border-radius: 100%;
                overflow: hidden;
                object-fit: cover;
            }
        }
        .comment-content{
            flex: 1;
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 20px;
            padding-right: 20px;
            .comment-content-name{
                font-size: 32px;
                color: #333333;
                line-height: 45px;
            }
            .comment-content-create{
                font-size: 24px;
                line-height: 40px;
                color: #999;
            }
            .comment-content-content{
                font-size: 28px;
                color: #444444;
                padding: 10px 0;
                line-height: 40px;
            }
            // .subcomment-list{
            //     background: #e1e1e1;
            //     width: 500px;
            //     margin-top: 20px;
            //     padding: 5px 0;
                .subcomment-item{
                    background: #e1e1e1;
                    width: 500px;
                    line-height: 30px;
                    padding: 5px 20px;
                    span{
                        color: #02a0ff;
                    }
                    i{
                        font-style: inherit;
                    }
                // }
            }
        }
    }
}